/* your code here */

footer{
	background-color:black;
	color:white;
	width:100%;
	padding:10px;
}
.top{
	display:flex;
	justify-content:space-between;
}
.logo_name{
	font-size:20px;
	font-weight:bold;
}
.media-iconss{
	display:flex;
	gap:10px
}

.media-icons{
	border-radius:50%;
	height:20px;
	width:20px;
	
}
.link-boxes{
	display:flex;
	justify-content:space-between;
}
.bottom-details{
	display:flex;
	justify-content:space-between;
	background-color:grey;
	width:100%;
}